/* /Components/ApplianceComponent.razor.rz.scp.css */
.header[b-wo5p7no5zl] {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

p[b-wo5p7no5zl] {
    margin: 0;
}

.buyButton[b-wo5p7no5zl] {
    margin: 1rem 0;
}
/* /Components/GridExtenderComponent.razor.rz.scp.css */
.header[b-kfipqa3ozj] {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

p[b-kfipqa3ozj] {
    margin: 0;
}

.buyButton[b-kfipqa3ozj] {
    margin: 1rem 0;
}
/* /Components/PowerGeneratorComponent.razor.rz.scp.css */
.header[b-64xvsmocc0] {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

p[b-64xvsmocc0] {
    margin: 0;
}

.buyButton[b-64xvsmocc0] {
    margin: 1rem 0;
}
/* /Components/ResearcherComponent.razor.rz.scp.css */
.header[b-1eojklj049] {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

p[b-1eojklj049] {
    margin: 0;
}

.buyButton[b-1eojklj049] {
    margin: 1rem 0;
}
