<div class="generator">
    <h2 style="float: left">@Generator.Name (@Generator.NumberBuilt)</h2>
    <h2 style="float: right">Price: @DisplayHelpers.DisplayPrice(Generator.CurrentPrice)</h2>
    <div style="clear: both"></div>
    <p>Production: @Generator.CurrentProduction $ / s</p>
    <button class="btn" @onclick="BuyGenerator" disabled=@(!CanAfford())>Buy</button>
</div>

@code {
    [Inject] protected GameEngine Engine { get; set; }

    [Parameter]
    public PowerGenerator Generator { get; set; }

    private void BuyGenerator() => Engine.TryBuy(Generator);

    private bool CanAfford() => Engine.CanAfford(Generator);
}
